.ct-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--color-grey);
  border-radius: 10px;
}

.ct-card img {
  width: 220px;
  margin-bottom: 8px;
}

.ct-card h3 {
  font-size: 18px;
  margin-bottom: 14px;
}

.ct-card p {
  font-style: italic;
  font-size: 14px;
  color: var(--color-greyDark);
  margin-bottom: 38px;
}
